<header class="header">
    <div class="header-inner">
        <p class="header-logo">PORTFOLIO2023</p>
        <ul class="menu">
            <li class="menu-element"><a href="works">WORKS</a></li>
            <li class="menu-element"><a href="../">ABOUT ME</a></li>
            <li class="menu-element"><a href="README">CONTACT</a></li>
        </ul>
    </div>
</header>

<style>
    a {
        text-decoration: none;
        color: black;
    }

    li {
        list-style: none;
    }

    .header {
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 9000;
    }

    .header-inner {
        background-color: #fff;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0px 20px;
    }

    .menu {
        display: flex;
    }

    .header-logo {
        font-family: "degular-display", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.1rem;
    }

    .menu-element {
        white-space: nowrap;
        font-size: 0.9rem;
    }

    .menu-element:not(:first-child) {
        margin-left: 20px;
    }

    .menu-element:hover {
        font-weight: 800;
        cursor: pointer;
        transition-duration: 0.1s;
    }
</style>
